@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f9;
}

.header-container {
    display: flex;
    padding: 15px 30px 15px 30px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.bd-text{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-btn{
    margin-left: 850px;
    
}
#signin{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 15px 30px;
    margin-right:30px;

}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background: rgb(85, 228, 147);
    padding: 40px;
    margin: 0px 60px 0px 60px;
    
}

#bd {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}

.hero .caption {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    
}
.btn{
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    padding: 15px 30px 15px 30px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0%;
    margin-top: 20px;
    cursor: pointer;
    
}
.caption{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-top:40px;
    text-align: left;
   
}
.point-caption{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-top:60px;
    text-align: left;
    padding-left: 80px;

}
.container{
    width: 88%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    
}
.card{
    background-color: #fff;
    border-radius: 8px;
    flex: 1;
    min-width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height:auto 200px;
    padding: 20px;
    
}
.card img{
    height: 53px;
    width: 49;
    border-radius: 8px 8px 0px 0px;
    padding: 10px;
}
.card-heading{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}
.card-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 80px;
    margin-top: 10px;
}
#vision .card{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}
#vision .card-yellow{
    

background: rgb(247, 235, 207);
}
#vision .btn {
    background: rgb(84, 144, 245);
}
#vision  .btn-yellow{
     background: rgb(255, 194, 57);
}
  #vision  .btn-green{
     background: rgb(9, 161, 92);

}
#younus .quote{
    margin:-50px;
    padding-left: 60px;
}
.card-footer{
    margin-top: 70px;
    padding: 10px 10px;
}
.news-part{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
}
.news-part img{
    height: 300px;
    width: 400px;
    border-radius: 25px;
}
#news{
    padding: 20px;
}
#news .news-heading{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
   

}
#news .channel-logo{
    width: 134px;
    height: 40px;
    border-radius: 8px;
    margin-left: -10px;

}
#news .publish-date{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
#news .publish-time{
    padding-left: 20px;
}
.donate-heading{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.donate-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;
}
#donate-section{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
   
}

.card-amount{
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    height: 70px;
}
.card-amount.card-blue{
    
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
}
.card-amount h1{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px;
}
#input-section .input-container{
    width: 1032px;
    height: 64px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    
  
}
#newsletter .subscribe-card{
    border-radius: 24px;
    background: rgb(198, 228, 214);
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.form-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23vh;
    /* background-color: #f0f0f0; */
}
label{
    position: relative;
}
input{
    border: none;
    width: 700px;
    height: 50px;
    padding:  0 16px;
    border-radius: 8px;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.form-body button{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 106, 80);
    border: none;
    border-radius: 8px;
    padding: 0 16px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.footer-container{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    gap: 20px;
}
